spring:
  datasource:
    url: jdbc:mysql://localhost:3306/mytrophy
    username: root
    password: 0308
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  jwt:
    secret: vmfhaltmsasdvdfhaertgaerfgsdfasdklfvhnsdjikonkl
